<div class="component-wrapper">
  <p>Second component: display store value</p>
  <label for="value1">First value:</label>
  <input
    type="number"
    class="inputNumber"
    name="value1"
    id="value1"
    disabled
    [(ngModel)]="value1"
    [ngClass]="{ redColor: isNegativeValue1 }"
  />
  <label for="value2">Second value:</label>
  <input
    type="number"
    class="inputNumber"
    name="value2"
    id="value2"
    disabled
    [(ngModel)]="value2"
    [ngClass]="{ redColor: isNegativeValue2 }"
  />
  <div class="btn-group">
    <button class="btn" type="button" (click)="onStart()" [disabled]="isStarted">Start</button>
    <button class="btn" type="button" (click)="onStop()">Stop</button>
    <button class="btn" type="button" (click)="onReset()">Reset</button>
  </div>
</div>
