.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
:host >>> .component-wrapper {
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0px black;
}
:host >>> .inputNumber {
  padding: 5px;
  margin: 10px;
  width: 50px;
  border-radius: 5px;
  font-size: medium;
  text-align: center;

  color: blue;
  border-color: blue;
  outline-color: blue;
}
:host >>> .redColor {
  color: red;
  border-color: red;
  outline-color: red;
}
