<div class="component-wrapper">
  <p class="description">First component: input number value</p>
  <input
    type="number"
    class="inputNumber"
    [(ngModel)]="inputValue"
    [ngClass]="{ redColor: isNegative }"
    (change)="onChange()"
  />
</div>
